/* LIBRARY.CSS */

.zeroed {
    margin: 0;
    padding: 0;
}

.full-height {
	min-height: 100vh;
	max-height: 100vh;
}

.centered-text {
	text-align: center;
}

.dead-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
    position: absolute;
}

.horizontally-centered {
	position: relative;
	margin: 0 auto;
}

.relative {
	position: relative;
}

/* Hideme */
.hideme {
    opacity: 0;
}

.hideme-delayed {
    opacity: 0;
}

/* Typed.js */

.typed-cursor {
	font-size: 70pt;
	color: #53BEE3;
    opacity: 1;
    animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
}

/* Tablet */
@media only screen and (max-height: 600px) {

    .typed-cursor {
        font-size: 38pt;
    }

}

@media only screen and (max-width: 640px) {

    .typed-cursor {
    	font-size: 45pt;
    }

}

/* Phone small */
@media only screen and (max-width: 480px) and (orientation: portrait) {

    .typed-cursor {
    	font-size: 30pt;
    }

}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
