/* PHOTOS.CSS */

#backshot {
	background-image: url("../assets/photos/backshot.jpg");
}

#bean {
	background-image: url("../assets/photos/bean.jpg");
}

#boats-night-bw {
	background-image: url("../assets/photos/boats-night-bw.jpg");
}

#cathedral {
	background-image: url("../assets/photos/cathedral.jpg");
}

#chicago-alley {
	background-image: url("../assets/photos/chicago-alley.jpg");
}

#chicago-front {
	background-image: url("../assets/photos/chicago-front.jpg");
}

#ferris-wheel-landscape {
	background-image: url("../assets/photos/ferris-wheel-landscape.jpg");
}

#green-smoke {
	background-image: url("../assets/photos/green-smoke.jpg");
}

#marinabay-rose {
	background-image: url("../assets/photos/marinabay-rose.jpg");
}

#observing-the-penguins {
	background-image: url("../assets/photos/observing-the-penguins.jpg");
}

#oxford-street {
	background-image: url("../assets/photos/oxford-street.jpg");
}

#perspective-trees {
	background-image: url("../assets/photos/perspective-trees.jpg");
}

#ping-ping {
	background-image: url("../assets/photos/ping-ping.jpg");
}

#rowing {
	background-image: url("../assets/photos/rowing.jpg");
}

#shadow {
	background-image: url("../assets/photos/shadow.jpg");
}

#submerged {
	background-image: url("../assets/photos/submerged.jpg");
}

#sun-street-bw {
	background-image: url("../assets/photos/sun-street-bw.jpg");
}

#tree-dark {
	background-image: url("../assets/photos/tree-dark.jpg");
}

#tree1 {
	background-image: url("../assets/photos/tree1.jpg");
}

#trump {
	background-image: url("../assets/photos/trump.jpg");
}

#vilde {
	background-image: url("../assets/photos/vilde.jpg");
}

#yellow-greyscale1 {
	background-image: url("../assets/photos/yellow-greyscale1.jpg");
}

#golden-gate {
	background-image: url("../assets/photos/golden-gate.jpg");
}

#plants-golden-gate {
	background-image: url("../assets/photos/plants-golden-gate.jpg");
}

#natural-museum {
	background-image: url("../assets/photos/natural-museum.jpg");
}
